body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
span{
    color: limegreen;
}
.first{
    font-size: 50px;
}
.second{
    
    padding: 10px 20px;
    border-radius: 10%;
    text-decoration: none;
    font-weight: 400;
    background-image: linear-gradient(limegreen, green);
    color: bisque;
}
.third{
    background-image: url(iu.jpg);
    background-repeat: no-repeat;
    padding-left: 3%;
}
.forth{
    background-image: url(bc.jpg);
    background-repeat: no-repeat;
    padding-right: 1%;
    
}
.fifth{
    background-image: linear-gradient(limegreen, green);
    padding: 10px 20px;
    border-radius: 10%;
    text-decoration: none;
    font-weight: 400;
    color: bisque;


    
}
.photoflex{
    display: flex;
    width: 100%;
}

img{
    width: 580px;
    height: 500px;
   }
.sixth{
    padding: 10px;
}
