body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
span{
    color: limegreen;
}
.first{
    font-size: 50px;

}
.second{
    
    padding: 10px 20px;
    border-radius: 10%;
    text-decoration: none;
    font-weight: 400;
    background-image: linear-gradient(limegreen, green);
    color: bisque;
}
.third{
    background-image: url(iu.jpg);
    background-repeat: no-repeat;
    padding-left: 3%;
    background-position: left;
}
.forth{
    background-image: url(bc.jpg);
    background-repeat: no-repeat;
    padding-right: 1%;
    background-position: right;
    
}
.fifth{
    background-image: linear-gradient(limegreen, green);
    padding: 10px 20px;
    border-radius: 10%;
    text-decoration: none;
    font-weight: 400;
    color: bisque;
    
}
.photoflex{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

img{
    width: 650px;
    height: 550px;
   }
.sixth{
    padding: 10px;
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position:left ;
}
.seven{
    box-shadow: 10px 10px 50px darkgray;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 10px solid green;
    border-top: 10px solid green;
}
